<app-container class="pt-8 md:pt-20">
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 relative mr-0 md:mr-10 lg:mr-40 space-y-8 mb-10">
      <div class="space-y-2">
        <h1 class="text-4xl md:text-6xl font-bold">Hey there!</h1>
        <span class="text-2xl font-bold">Log in</span>
      </div>

      <form class="mt-10" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset class="space-y-6" [disabled]="loading">
          <div>
            <app-input
              [control]="f.email"
              [submitted]="submitted"
              placeholder="Enter your email"
              fieldType="email"
              label="Email"
              [formControl]="loginForm.controls.email"
            />
            <app-validate
              [control]="f.email"
              [submitted]="submitted"
              fieldName="Email"
            />
          </div>
          <div>
            <app-input
              [control]="f.password"
              [submitted]="submitted"
              placeholder="Enter your password"
              fieldType="password"
              label="Password"
              [formControl]="loginForm.controls.password"
            />
            <app-validate
              [control]="f.password"
              [submitted]="submitted"
              fieldName="Password"
            />
          </div>
          <app-button
            customClass="mt-10"
            type="submit"
            variant="secondary"
            text="Log In"
            [showLoader]="loading"
          />
          <span class="text-red-700 text-sm mt-8 block" *ngIf="error"
            >{{error}}</span
          >
        </fieldset>
      </form>
      <app-separator-or-component />
      <div class="flex gap-6 justify-center">
        <app-social-button-component
          iconSrc="assets/svg/facebook.svg"
          iconClass="bg-[#1877F2]"
          iconAlt="Facebook"
        />
        <app-social-button-component
          iconSrc="assets/svg/google.svg"
          iconClass="bg-white"
          iconAlt="Google"
        />
      </div>
      <div class="space-y-6 text-center sm:text-left">
        <h1 class="text-4xl md:text-6xl font-bold">Want to join?</h1>
        <span class="text-gray-600"
          >No need for a manual, just a few clicks and you are in!</span
        >
      </div>
      <app-button
        [routerLink]="'/' + pages.REGISTER"
        variant="outline"
        text="Let's go!"
      />
    </div>
    <div
      class="flex-1 sticky top-24 h-[600px] bg-[url(assets/images/food-collage.jpg)] bg-contain bg-no-repeat bg-left"
    ></div>
  </div>
</app-container>
