<div>
  <section class="bg-[url(/assets/images/hero.jpg)] h-[calc(100vh-64px)]">
    <app-container class="flex items-end relative h-full">
      <div
        class="md:absolute md:top-1/2 md:-translate-y-full text-white space-y-6 mb-20"
      >
        <h1
          class="text-4xl md:text-6xl font-bold text-shadow-xl max-w-sm leading-11 md:leading-[70px]"
        >
          Welcome to MyCookery!
        </h1>
        <div class="max-w-sm space-y-6">
          <p class="text-lg md:text-xl text-shadow-xl">
            Food is the ingredient that binds us together. Every recipe tells a
            story. Make it your own.
          </p>
          <a class="btn-primary" [routerLink]="'/' + pages.REGISTER"
            >Join us!</a
          >
        </div>
      </div>
    </app-container>
  </section>
  <section class="mt-16">
    <app-container class="flex flex-col gap-14">
      <app-card-component
        *ngFor="let card of cards;"
        [title]="card.title"
        [desc]="card.desc"
        [imageSrc]="card.imageSrc"
        [btnLabel]="card.btnLabel"
        [btnLink]="card.btnLink"
        [bgColor]="card.bgColor"
      />
    </app-container>
  </section>
  <section class="mt-16 bg-gray-200 py-24">
    <app-container class="flex flex-col xl:flex-row xl:gap-20 items-center">
      <div class="flex-1 space-y-6 xl:space-y-8 max-w-xl order-2 xl:order-1">
        <h1
          class="text-4xl text-center xl:text-left leading-12 xl:text-5xl font-bold xl:leading-16"
        >
          Ready to dig in? Join us now!
        </h1>
        <p
          class="text-lg text-center xl:text-left leading-8 xl:text-xl xl:leading-9"
        >
          Our buddies are here to support you on your nutrition journey! They'll
          share tips, keep you motivated, and help you plan along the way.
        </p>
        <div class="flex flex-col sm:flex-row gap-4">
          <a [routerLink]="'/' + pages.LOGIN" class="btn-outline"
            >I have an account</a
          >
          <a [routerLink]="'/' + pages.REGISTER" class="btn-secondary"
            >Join us!</a
          >
        </div>
      </div>
      <div class="flex-1 order-1 xl:order-2">
        <img
          class="w-full max-w-xl h-full object-fill transition-transform duration-300 ease-in-out transform hover:scale-105"
          src="assets/images/plate.png"
          alt="collage"
        />
      </div>
    </app-container>
  </section>
</div>
