<div>
  <section class="bg-primary py-20 space-y-6 mx-auto text-center text-white">
    <h1 class="text-5xl font-semibold">
      Every recipe tells a story. Make it your own
    </h1>
    <p class="text-xl">Food is the ingredient that binds us together.</p>
  </section>
  <app-container class="py-10">
    <h2 class="text-4xl font-semibold">Recipes</h2>
    <div class="mt-10 grid grid-cols-3 gap-8">
      <app-recipes-card-component
        *ngFor="let recipe of recipes;"
        class="group first:row-span-2 first:col-span-2 first:!h-[492px] !h-[230px]"
        titleClass="group-not-first:text-2xl"
        [title]="recipe.title"
        [imageSrc]="recipe.src"
      />
    </div>
  </app-container>
</div>
